<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/services.css"/>
</head>
<body>
  <%- include("partials/hub_Header.ejs") -%>
  <div class="container">
    <h1 class="display-4">List of services.</h1>
    <div class="row">
    <% if(services.length > 0){ %>
      <% services.forEach(service => { %>
        <div class="col-sm-3">
          <div class="card" >
            <div class="card-body" onclick="update(<%= JSON.stringify(service)%>)">
              <h5 class="card-title"><%=service.TypeOfService%></h5>
              <p class="card-text">Price: <%=service.pricePerUnit%> / <%=service.unit%></p>
              <p class="card-text">Areas: <%=service.unit%> </p>
              <p class="card-text">Provider: <%=service.email%> </p>
            </div>
          </div>
        </div>
    <%})%>
    <% } else { %>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">No current services</h5>
          </div>
        </div>
      </div>
    <%}%>
    </div>
    <div>
      <h1 class="display-4">Service Info</h1>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title"id="des-title"></h6>
            <h6 class="card-title"id="des-provider"></h6>
            <h6 class="card-title"id="des-typeofservice"></h6>
            <h6 class="card-title"id="des-price"></h6>
            <h6 class="card-title"id="des-description"></h6>
          </div>
        </div>
      </div>
    </div>
      <div id="bid-form-container">
        <form action="/services" method="POST" class="bid-form">
          <h2>Place Bid</h2>
          <div class="hiddendeets">
            <input type="text" id="provider" placeholder="Provider" name="provider"><br>
            <input type="text" id="service" placeholder="Service" name="service"><br>
            <input type="text" id="price" placeholder="Price" name="price"><br>
            <input type="text" id="unit" placeholder="Unit" name="unit"><br>
          </div>
            <input type="text" id="date" placeholder="Date (EX: 11/2/21)" name="date" class="form-control col-sm-3">
            <input type="text" id="time" placeholder="Time (EX: 1:33PM)" name="time" class="form-control col-sm-3">
            <input type="submit" class="btn btn-primary" value="Create Bid">
        </form>
      </div>
    </div>
  </div>

</body>
<script>
  function update(info)
  {
    const container = document.getElementById('bid-form-container');
    container.style.display = "block";

    const title = document.getElementById('des-title');
    const provider = document.getElementById('des-provider');
    const typeofservice = document.getElementById('des-typeofservice');
    const price = document.getElementById('des-price');
    const description = document.getElementById('des-description');
    const input1 = document.getElementById('provider');
    const input2 = document.getElementById('service');
    const input3 = document.getElementById('price');
    const input4 = document.getElementById('unit');


    title.innerHTML = 'Service: ' + info.TypeOfService;
    provider.innerHTML = 'Provider: ' + info.email;
    typeofservice.innerHTML = 'Type of Service: ' + info.TypeOfService;
    price.innerHTML = 'Price: ' + info.pricePerUnit + '/' + info.unit;
    description.innerHTML = info.Description;
    input1.value = info.email;
    input2.value = info.TypeOfService;
    input3.value = info.pricePerUnit;
    input4.value = info.unit;
  }
</script>
</html>
