<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/services.css"/>
</head>
<body>
  <div class="nav">
    <%- include("partials/hub_Header.ejs") -%>
  </div>

  <div class="home-container">
    <div class="services-container">
      <div class="title">
        <h1>List of Services</h1>
      </div>
      <% if(services.length > 0){ %>
        <% services.forEach(service => { %>
          <div class="service-container" onclick="update(<%= JSON.stringify(service)%>)">
            <div class="details">
              <h1>Service Name: <%=service.TypeOfService%></h1>
              <h1>Price: <%=service.pricePerUnit%> / <%=service.unit%> </h1>
              <h1>Provider: <%=service.email%> </h1>
            </div>
          </div>
      <%})%>
      <% } else { %>
        <h1>No current services</h1>
      <%}%>
    </div>

    <div class="service-details-container">
      <div class="title">
        <h1>Service info</h1>
      </div>

      <div class="description">
        <h2 id="des-title"></h2>
        <h2 id="des-provider"></h2>
        <h2 id="des-typeofservice"></h2>
        <h2 id="des-price"></h2>
        <p id="des-description"></p>
      </div>

      <div class="calander">
      </div>

      <div id="bid-form-container">
        <form action="/services" method="POST" class="bid-form">
          <h2>Place Bid</h2>
          <div class="hiddendeets">
            <input type="text" id="provider" placeholder="Provider" name="provider"><br>
            <input type="text" id="service" placeholder="Service" name="service"><br>
            <input type="text" id="price" placeholder="Price" name="price"><br>
            <input type="text" id="unit" placeholder="Unit" name="unit"><br>
          </div>
            <input type="text" id="date" placeholder="Date (EX: 11/2/21)" name="date"><br>
            <input type="text" id="time" placeholder="Time (EX: 1:33PM)" name="time"><br>
            <input type="submit" class="submit" value="Create Bid">
        </form>
      </div>
    </div>
  </div>

</body>
<script>
  function update(info)
  {
    const container = document.getElementById('bid-form-container');
    container.style.display = "block";

    const title = document.getElementById('des-title');
    const provider = document.getElementById('des-provider');
    const typeofservice = document.getElementById('des-typeofservice');
    const price = document.getElementById('des-price');
    const description = document.getElementById('des-description');
    const input1 = document.getElementById('provider');
    const input2 = document.getElementById('service');
    const input3 = document.getElementById('price');
    const input4 = document.getElementById('unit');


    title.innerHTML = 'Service: ' + info.TypeOfService;
    provider.innerHTML = 'Provider: ' + info.email;
    typeofservice.innerHTML = 'Type of Service: ' + info.TypeOfService;
    price.innerHTML = 'Price: ' + info.pricePerUnit + '/' + info.unit;
    description.innerHTML = info.Description;
    input1.value = info.email;
    input2.value = info.TypeOfService;
    input3.value = info.pricePerUnit;
    input4.value = info.unit;
  }
</script>
</html>
